/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Eric Meyers' CSS Reset */

/* Reset Customization */
body {
  box-sizing: border-box;
}

/* Utilities */
.br {
  border-radius: 5px;
}

.colors-text {
  color: rgba(255, 255, 255, 0.37);
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
}

/* Navbar */
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 70px;
}

.navbar li a {
  padding: 26px;
  color: white;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}

.navbar li a:hover {
  color: #fff;
  padding: 26px;
  background-color: #570706;
}

/* Hero */

.hero-image {
  /* background-color: rgba(187, 192, 190, 0.363); */
  background: url('/img/painting.jpg') no-repeat center center/cover;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #000 solid 1px;
  margin-bottom: 60px;
}

.hero-content {
  background-color: rgba(128, 0, 0, 0.623);
}

.hero-image .hero-content h1 {
  font-family: "Cormorant", serif;
  font-size: 80px;
  font-style: italic;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 0.2rem;
  padding: 5px;
}

.hero-image .hero-content p {
  display: inline-block;
  width: 150px;
  font-family: monospace;
  background-color: #333;
  border-top: 1px #fff solid;
  color: #fff;
  padding: 5px;
}

/* Fonts Container */
#fonts-label {
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: 200px;
  top: 373px;
}

#paragraph-label {
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.font-container {
  margin: 10px auto 20px;
  padding: 20px;
  max-width: 80vw;
  max-height: 400px;
  border: 1px solid black;
  display: flex;
  position: relative;
}

.font-container div {
  width: 30%;
  margin: 20px;
  text-align: justify;
}

.font-1 {
  font-family: "Cormorant", serif;
  padding: 10px;
}

.font-1 h1:nth-child(1) {
  font-size: 50px;
  padding: 5px;
  line-height: 2.6rem;
  margin-bottom: 5px;
}

.font-1 h1:nth-child(2) {
  font-size: 40px;
  font-style: italic;
  padding: 5px;
  line-height: 2.6rem;
  margin-bottom: 5px;
}

.font-1 h2 {
  font-size: 30px;
  line-height: 2.6rem;
  margin-bottom: 5px;
}

.font-1 p {
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 5px;
}

.font-2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 5px;
}

.font-2 p:nth-child(1) {
  font-size: 25px;
  line-height: 1.5rem;
  margin-bottom: 20px;
  text-decoration: underline;
}

.font-2 p:nth-child(2) {
  font-weight: 100;
  margin-bottom: 10px;
}

.font-2 p:nth-child(3) {
  font-weight: 400;
  margin-bottom: 10px;
}

.font-2 p:nth-child(4) {
  font-weight: 600;
  margin-bottom: 10px;
}

.font-3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 5px;
}

.font-3 p:nth-child(1) {
  font-size: 25px;
  line-height: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.font-3 p:nth-child(2) {
  font-weight: 100;
  margin-bottom: 10px;
}

.font-3 p:nth-child(3) {
  font-weight: 400;
  margin-bottom: 10px;
}

.font-3 p:nth-child(4) {
  font-weight: 700;
  margin-bottom: 10px;
}



/* Colors Container */

#colors-label {
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
}

.color-container {
  max-width: 80vw;
  margin: 30px auto 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.color-container div {
  flex-basis: 20%;
  display: flex;
  height: 150px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
}

.color-1 {
  background-color: #c99797;
  color: rgba(51, 51, 51, 0.596) !important;
}


.color-2 {
  background-color: #c56f6f;
  color: rgba(255, 255, 255, 0.37);
}


.color-3 {
  background-color: #c25252;
  color: rgba(255, 255, 255, 0.37);
}

.color-4 {
  background-color: #a83535;
  color: rgba(255, 255, 255, 0.37);
}

.color-5 {
  background-color: #6d747a;
  color: rgba(255, 255, 255, 0.37);
}

.color-6 {
  background-color: #3a4d61;
  color: rgba(255, 255, 255, 0.37);
}

.color-7 {
  background-color: #0d2b4b;
  color: rgba(255, 255, 255, 0.37);
}

.color-8 {
  background-color: #051931;
  color: rgba(255, 255, 255, 0.37);
}


/* Buttons */

#buttons-label {
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
}

.button-container {
  margin: 10px auto 20px;
  padding: 40px;
  max-width: 80vw;
  max-height: 400px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.btn {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  background-color: mediumseagreen;
  color: #000;
  text-decoration: none;
  padding: 15px 20px;
}

.btn-1 {
  box-shadow: 5px 5px;
}

.btn-1:hover {
  background-color: rgb(44, 145, 106);
}

.btn-1:active {
  box-shadow: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgb(23, 109, 76);
}


.btn-2:hover {
  background-color: rgba(14, 185, 120, 0.37);
  color: #fff;
  transition: all 0.2s ease-in;
}

.btn-2:active {
  background-color: transparent;
  color: #000;
  border: rgb(14, 185, 119) solid 1px;
}

.btn-3 {
  border: 2px solid rgba(49, 63, 58, 0.438);
  background-color: rgba(51, 66, 61, 0.288);
  color: rgba(51, 66, 61, 0.253);
}

.btn-3:hover {
  cursor: auto;
}


/* Icons */

.icons {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 500px;
 position: fixed;
 width: 35px;
 height: 35px;
}

.icons i {
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}

.icons .fa-twitter {
  background-color: #1DA1F2;
  padding: 8px;
  border-radius: 50%;
}

.icons .fa-facebook {
  background-color: #3b5998;
  padding: 8px;
  border-radius: 50%;
}

.icons .fa-github {
  background-color: #000;
  padding: 8px;
  border-radius: 50%;
}

.icons i:hover {
  cursor: pointer;
  background-color: #000;
  color: #000;
}

/* Footer */

footer {
  background-color: rgba(51, 51, 51, 0.308);
  width: 100%;
  height: 40px;
}

footer p {
  padding: 10px;
  font-family: monospace;
  text-align: center;
}